RL/00_corpus/**
RL/RL_discrete/00_model_logs/**
RL/RL_continuous/00_model_logs/**
RL/RL_continuous/01_synthesizers/**
RL/RL_continuous/in-domain/00_model_logs/**
RL/RL_continuous/in-domain/01_synthesizers/**
seq2seq/00_corpus/**
seq2seq/01_model_logs/**
seq2seq/**/00_corpus/**
seq2seq/**/01_model_logs/**

00_model_logs/**

model_logs/**
sequence_model/runs/**
sequence_model/data/**
__pycache__/

**.wav
*.txt
.DS_Store